<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yashebook.domain.mapper.SysMenuMapper" >
  <resultMap id="BaseResultMap" type="com.yashebook.domain.po.SysMenu" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="menu_name" property="menuName" jdbcType="VARCHAR" />
    <result column="f_id" property="fId" jdbcType="BIGINT" />
    <result column="menu_url" property="menuUrl" jdbcType="VARCHAR" />
    <result column="menu_icon" property="menuIcon" jdbcType="VARCHAR" />
    <result column="is_show" property="isShow" jdbcType="VARCHAR" />
    <result column="menu_permission" property="menuPermission" jdbcType="VARCHAR" />
    <result column="menu_order" property="menuOrder" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, menu_name, f_id, menu_url, menu_icon, is_show, menu_permission, menu_order
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yashebook.domain.po.SysMenuCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_menu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="mysqlOffset != null and mysqlLength != null" >
      <![CDATA[ limit #{mysqlOffset} , #{mysqlLength} ]]>
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sys_menu
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_menu
    where id = #{id}
  </delete>
  <delete id="deleteByExample" parameterType="com.yashebook.domain.po.SysMenuCriteria" >
    delete from sys_menu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yashebook.domain.po.SysMenu" >
    insert into sys_menu (id, menu_name, f_id, menu_url, menu_icon, is_show, menu_permission, 
      menu_order)
    values (#{id}, #{menuName}, #{fId}, #{menuUrl}, #{menuIcon}, #{isShow}, #{menuPermission}, 
      #{menuOrder})
  </insert>
  <insert id="insertSelective" parameterType="com.yashebook.domain.po.SysMenu" >
    insert into sys_menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="menuName != null" >
        menu_name,
      </if>
      <if test="fId != null" >
        f_id,
      </if>
      <if test="menuUrl != null" >
        menu_url,
      </if>
      <if test="menuIcon != null" >
        menu_icon,
      </if>
      <if test="isShow != null" >
        is_show,
      </if>
      <if test="menuPermission != null" >
        menu_permission,
      </if>
      <if test="menuOrder != null" >
        menu_order,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="menuName != null" >
        #{menuName},
      </if>
      <if test="fId != null" >
        #{fId},
      </if>
      <if test="menuUrl != null" >
        #{menuUrl},
      </if>
      <if test="menuIcon != null" >
        #{menuIcon},
      </if>
      <if test="isShow != null" >
        #{isShow},
      </if>
      <if test="menuPermission != null" >
        #{menuPermission},
      </if>
      <if test="menuOrder != null" >
        #{menuOrder},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yashebook.domain.po.SysMenuCriteria" resultType="java.lang.Integer" >
    select count(*) from sys_menu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_menu
    <set >
      <if test="record.id != null" >
        id = #{record.id},
      </if>
      <if test="record.menuName != null" >
        menu_name = #{record.menuName},
      </if>
      <if test="record.fId != null" >
        f_id = #{record.fId},
      </if>
      <if test="record.menuUrl != null" >
        menu_url = #{record.menuUrl},
      </if>
      <if test="record.menuIcon != null" >
        menu_icon = #{record.menuIcon},
      </if>
      <if test="record.isShow != null" >
        is_show = #{record.isShow},
      </if>
      <if test="record.menuPermission != null" >
        menu_permission = #{record.menuPermission},
      </if>
      <if test="record.menuOrder != null" >
        menu_order = #{record.menuOrder},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_menu
    set id = #{record.id},
      menu_name = #{record.menuName},
      f_id = #{record.fId},
      menu_url = #{record.menuUrl},
      menu_icon = #{record.menuIcon},
      is_show = #{record.isShow},
      menu_permission = #{record.menuPermission},
      menu_order = #{record.menuOrder}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yashebook.domain.po.SysMenu" >
    update sys_menu
    <set >
      <if test="menuName != null" >
        menu_name = #{menuName},
      </if>
      <if test="fId != null" >
        f_id = #{fId},
      </if>
      <if test="menuUrl != null" >
        menu_url = #{menuUrl},
      </if>
      <if test="menuIcon != null" >
        menu_icon = #{menuIcon},
      </if>
      <if test="isShow != null" >
        is_show = #{isShow},
      </if>
      <if test="menuPermission != null" >
        menu_permission = #{menuPermission},
      </if>
      <if test="menuOrder != null" >
        menu_order = #{menuOrder},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yashebook.domain.po.SysMenu" >
    update sys_menu
    set menu_name = #{menuName},
      f_id = #{fId},
      menu_url = #{menuUrl},
      menu_icon = #{menuIcon},
      is_show = #{isShow},
      menu_permission = #{menuPermission},
      menu_order = #{menuOrder}
    where id = #{id}
  </update>
</mapper>