<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yashebook.domain.mapper.BookMapper" >
  <resultMap id="BaseResultMap" type="com.yashebook.domain.po.Book" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="books_sn" property="booksSn" jdbcType="VARCHAR" />
    <result column="product_no" property="productNo" jdbcType="VARCHAR" />
    <result column="books_name" property="booksName" jdbcType="VARCHAR" />
    <result column="books_imgs" property="booksImgs" jdbcType="VARCHAR" />
    <result column="market_price" property="marketPrice" jdbcType="INTEGER" />
    <result column="shop_price" property="shopPrice" jdbcType="INTEGER" />
    <result column="books_stock" property="booksStock" jdbcType="INTEGER" />
    <result column="warn_stock" property="warnStock" jdbcType="INTEGER" />
    <result column="books_util" property="booksUtil" jdbcType="VARCHAR" />
    <result column="is_sale" property="isSale" jdbcType="TINYINT" />
    <result column="is_best" property="isBest" jdbcType="TINYINT" />
    <result column="is_hot" property="isHot" jdbcType="TINYINT" />
    <result column="is_new" property="isNew" jdbcType="TINYINT" />
    <result column="is_recommend" property="isRecommend" jdbcType="TINYINT" />
    <result column="books_catsn_path" property="booksCatsnPath" jdbcType="VARCHAR" />
    <result column="books_catsn" property="booksCatsn" jdbcType="VARCHAR" />
    <result column="press_sn" property="pressSn" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="sale_num" property="saleNum" jdbcType="INTEGER" />
    <result column="sale_time" property="saleTime" jdbcType="TIMESTAMP" />
    <result column="visit_num" property="visitNum" jdbcType="INTEGER" />
    <result column="appraise_num" property="appraiseNum" jdbcType="INTEGER" />
    <result column="books_search_keywords" property="booksSearchKeywords" jdbcType="VARCHAR" />
    <result column="illegal_remarks" property="illegalRemarks" jdbcType="VARCHAR" />
    <result column="delete_flag" property="deleteFlag" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="detele_flag" property="deteleFlag" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.yashebook.domain.po.BookWithBLOBs" extends="BaseResultMap" >
    <result column="books_tips" property="booksTips" jdbcType="LONGVARCHAR" />
    <result column="gallery" property="gallery" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, books_sn, product_no, books_name, books_imgs, market_price, shop_price, books_stock, 
    warn_stock, books_util, is_sale, is_best, is_hot, is_new, is_recommend, books_catsn_path, 
    books_catsn, press_sn, status, sale_num, sale_time, visit_num, appraise_num, books_search_keywords, 
    illegal_remarks, delete_flag, create_time, modify_time, detele_flag
  </sql>
  <sql id="Blob_Column_List" >
    books_tips, gallery
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.yashebook.domain.po.BookCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ys_books
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yashebook.domain.po.BookCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ys_books
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="mysqlOffset != null and mysqlLength != null" >
      <![CDATA[ limit #{mysqlOffset} , #{mysqlLength} ]]>
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ys_books
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ys_books
    where id = #{id}
  </delete>
  <delete id="deleteByExample" parameterType="com.yashebook.domain.po.BookCriteria" >
    delete from ys_books
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yashebook.domain.po.BookWithBLOBs" >
    insert into ys_books (id, books_sn, product_no, books_name, books_imgs, market_price, 
      shop_price, books_stock, warn_stock, books_util, is_sale, is_best, 
      is_hot, is_new, is_recommend, books_catsn_path, books_catsn, press_sn, 
      status, sale_num, sale_time, visit_num, appraise_num, books_search_keywords, 
      illegal_remarks, delete_flag, create_time, modify_time, detele_flag, 
      books_tips, gallery)
    values (#{id}, #{booksSn}, #{productNo}, #{booksName}, #{booksImgs}, #{marketPrice}, 
      #{shopPrice}, #{booksStock}, #{warnStock}, #{booksUtil}, #{isSale}, #{isBest}, 
      #{isHot}, #{isNew}, #{isRecommend}, #{booksCatsnPath}, #{booksCatsn}, #{pressSn}, 
      #{status}, #{saleNum}, #{saleTime}, #{visitNum}, #{appraiseNum}, #{booksSearchKeywords}, 
      #{illegalRemarks}, #{deleteFlag}, #{createTime}, #{modifyTime}, #{deteleFlag}, 
      #{booksTips}, #{gallery})
  </insert>
  <insert id="insertSelective" parameterType="com.yashebook.domain.po.BookWithBLOBs" >
    insert into ys_books
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="booksSn != null" >
        books_sn,
      </if>
      <if test="productNo != null" >
        product_no,
      </if>
      <if test="booksName != null" >
        books_name,
      </if>
      <if test="booksImgs != null" >
        books_imgs,
      </if>
      <if test="marketPrice != null" >
        market_price,
      </if>
      <if test="shopPrice != null" >
        shop_price,
      </if>
      <if test="booksStock != null" >
        books_stock,
      </if>
      <if test="warnStock != null" >
        warn_stock,
      </if>
      <if test="booksUtil != null" >
        books_util,
      </if>
      <if test="isSale != null" >
        is_sale,
      </if>
      <if test="isBest != null" >
        is_best,
      </if>
      <if test="isHot != null" >
        is_hot,
      </if>
      <if test="isNew != null" >
        is_new,
      </if>
      <if test="isRecommend != null" >
        is_recommend,
      </if>
      <if test="booksCatsnPath != null" >
        books_catsn_path,
      </if>
      <if test="booksCatsn != null" >
        books_catsn,
      </if>
      <if test="pressSn != null" >
        press_sn,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="saleNum != null" >
        sale_num,
      </if>
      <if test="saleTime != null" >
        sale_time,
      </if>
      <if test="visitNum != null" >
        visit_num,
      </if>
      <if test="appraiseNum != null" >
        appraise_num,
      </if>
      <if test="booksSearchKeywords != null" >
        books_search_keywords,
      </if>
      <if test="illegalRemarks != null" >
        illegal_remarks,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="deteleFlag != null" >
        detele_flag,
      </if>
      <if test="booksTips != null" >
        books_tips,
      </if>
      <if test="gallery != null" >
        gallery,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="booksSn != null" >
        #{booksSn},
      </if>
      <if test="productNo != null" >
        #{productNo},
      </if>
      <if test="booksName != null" >
        #{booksName},
      </if>
      <if test="booksImgs != null" >
        #{booksImgs},
      </if>
      <if test="marketPrice != null" >
        #{marketPrice},
      </if>
      <if test="shopPrice != null" >
        #{shopPrice},
      </if>
      <if test="booksStock != null" >
        #{booksStock},
      </if>
      <if test="warnStock != null" >
        #{warnStock},
      </if>
      <if test="booksUtil != null" >
        #{booksUtil},
      </if>
      <if test="isSale != null" >
        #{isSale},
      </if>
      <if test="isBest != null" >
        #{isBest},
      </if>
      <if test="isHot != null" >
        #{isHot},
      </if>
      <if test="isNew != null" >
        #{isNew},
      </if>
      <if test="isRecommend != null" >
        #{isRecommend},
      </if>
      <if test="booksCatsnPath != null" >
        #{booksCatsnPath},
      </if>
      <if test="booksCatsn != null" >
        #{booksCatsn},
      </if>
      <if test="pressSn != null" >
        #{pressSn},
      </if>
      <if test="status != null" >
        #{status},
      </if>
      <if test="saleNum != null" >
        #{saleNum},
      </if>
      <if test="saleTime != null" >
        #{saleTime},
      </if>
      <if test="visitNum != null" >
        #{visitNum},
      </if>
      <if test="appraiseNum != null" >
        #{appraiseNum},
      </if>
      <if test="booksSearchKeywords != null" >
        #{booksSearchKeywords},
      </if>
      <if test="illegalRemarks != null" >
        #{illegalRemarks},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag},
      </if>
      <if test="createTime != null" >
        #{createTime},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime},
      </if>
      <if test="deteleFlag != null" >
        #{deteleFlag},
      </if>
      <if test="booksTips != null" >
        #{booksTips},
      </if>
      <if test="gallery != null" >
        #{gallery},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yashebook.domain.po.BookCriteria" resultType="java.lang.Integer" >
    select count(*) from ys_books
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ys_books
    <set >
      <if test="record.id != null" >
        id = #{record.id},
      </if>
      <if test="record.booksSn != null" >
        books_sn = #{record.booksSn},
      </if>
      <if test="record.productNo != null" >
        product_no = #{record.productNo},
      </if>
      <if test="record.booksName != null" >
        books_name = #{record.booksName},
      </if>
      <if test="record.booksImgs != null" >
        books_imgs = #{record.booksImgs},
      </if>
      <if test="record.marketPrice != null" >
        market_price = #{record.marketPrice},
      </if>
      <if test="record.shopPrice != null" >
        shop_price = #{record.shopPrice},
      </if>
      <if test="record.booksStock != null" >
        books_stock = #{record.booksStock},
      </if>
      <if test="record.warnStock != null" >
        warn_stock = #{record.warnStock},
      </if>
      <if test="record.booksUtil != null" >
        books_util = #{record.booksUtil},
      </if>
      <if test="record.isSale != null" >
        is_sale = #{record.isSale},
      </if>
      <if test="record.isBest != null" >
        is_best = #{record.isBest},
      </if>
      <if test="record.isHot != null" >
        is_hot = #{record.isHot},
      </if>
      <if test="record.isNew != null" >
        is_new = #{record.isNew},
      </if>
      <if test="record.isRecommend != null" >
        is_recommend = #{record.isRecommend},
      </if>
      <if test="record.booksCatsnPath != null" >
        books_catsn_path = #{record.booksCatsnPath},
      </if>
      <if test="record.booksCatsn != null" >
        books_catsn = #{record.booksCatsn},
      </if>
      <if test="record.pressSn != null" >
        press_sn = #{record.pressSn},
      </if>
      <if test="record.status != null" >
        status = #{record.status},
      </if>
      <if test="record.saleNum != null" >
        sale_num = #{record.saleNum},
      </if>
      <if test="record.saleTime != null" >
        sale_time = #{record.saleTime},
      </if>
      <if test="record.visitNum != null" >
        visit_num = #{record.visitNum},
      </if>
      <if test="record.appraiseNum != null" >
        appraise_num = #{record.appraiseNum},
      </if>
      <if test="record.booksSearchKeywords != null" >
        books_search_keywords = #{record.booksSearchKeywords},
      </if>
      <if test="record.illegalRemarks != null" >
        illegal_remarks = #{record.illegalRemarks},
      </if>
      <if test="record.deleteFlag != null" >
        delete_flag = #{record.deleteFlag},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime},
      </if>
      <if test="record.modifyTime != null" >
        modify_time = #{record.modifyTime},
      </if>
      <if test="record.deteleFlag != null" >
        detele_flag = #{record.deteleFlag},
      </if>
      <if test="record.booksTips != null" >
        books_tips = #{record.booksTips},
      </if>
      <if test="record.gallery != null" >
        gallery = #{record.gallery},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update ys_books
    set id = #{record.id},
      books_sn = #{record.booksSn},
      product_no = #{record.productNo},
      books_name = #{record.booksName},
      books_imgs = #{record.booksImgs},
      market_price = #{record.marketPrice},
      shop_price = #{record.shopPrice},
      books_stock = #{record.booksStock},
      warn_stock = #{record.warnStock},
      books_util = #{record.booksUtil},
      is_sale = #{record.isSale},
      is_best = #{record.isBest},
      is_hot = #{record.isHot},
      is_new = #{record.isNew},
      is_recommend = #{record.isRecommend},
      books_catsn_path = #{record.booksCatsnPath},
      books_catsn = #{record.booksCatsn},
      press_sn = #{record.pressSn},
      status = #{record.status},
      sale_num = #{record.saleNum},
      sale_time = #{record.saleTime},
      visit_num = #{record.visitNum},
      appraise_num = #{record.appraiseNum},
      books_search_keywords = #{record.booksSearchKeywords},
      illegal_remarks = #{record.illegalRemarks},
      delete_flag = #{record.deleteFlag},
      create_time = #{record.createTime},
      modify_time = #{record.modifyTime},
      detele_flag = #{record.deteleFlag},
      books_tips = #{record.booksTips},
      gallery = #{record.gallery}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ys_books
    set id = #{record.id},
      books_sn = #{record.booksSn},
      product_no = #{record.productNo},
      books_name = #{record.booksName},
      books_imgs = #{record.booksImgs},
      market_price = #{record.marketPrice},
      shop_price = #{record.shopPrice},
      books_stock = #{record.booksStock},
      warn_stock = #{record.warnStock},
      books_util = #{record.booksUtil},
      is_sale = #{record.isSale},
      is_best = #{record.isBest},
      is_hot = #{record.isHot},
      is_new = #{record.isNew},
      is_recommend = #{record.isRecommend},
      books_catsn_path = #{record.booksCatsnPath},
      books_catsn = #{record.booksCatsn},
      press_sn = #{record.pressSn},
      status = #{record.status},
      sale_num = #{record.saleNum},
      sale_time = #{record.saleTime},
      visit_num = #{record.visitNum},
      appraise_num = #{record.appraiseNum},
      books_search_keywords = #{record.booksSearchKeywords},
      illegal_remarks = #{record.illegalRemarks},
      delete_flag = #{record.deleteFlag},
      create_time = #{record.createTime},
      modify_time = #{record.modifyTime},
      detele_flag = #{record.deteleFlag}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yashebook.domain.po.BookWithBLOBs" >
    update ys_books
    <set >
      <if test="booksSn != null" >
        books_sn = #{booksSn},
      </if>
      <if test="productNo != null" >
        product_no = #{productNo},
      </if>
      <if test="booksName != null" >
        books_name = #{booksName},
      </if>
      <if test="booksImgs != null" >
        books_imgs = #{booksImgs},
      </if>
      <if test="marketPrice != null" >
        market_price = #{marketPrice},
      </if>
      <if test="shopPrice != null" >
        shop_price = #{shopPrice},
      </if>
      <if test="booksStock != null" >
        books_stock = #{booksStock},
      </if>
      <if test="warnStock != null" >
        warn_stock = #{warnStock},
      </if>
      <if test="booksUtil != null" >
        books_util = #{booksUtil},
      </if>
      <if test="isSale != null" >
        is_sale = #{isSale},
      </if>
      <if test="isBest != null" >
        is_best = #{isBest},
      </if>
      <if test="isHot != null" >
        is_hot = #{isHot},
      </if>
      <if test="isNew != null" >
        is_new = #{isNew},
      </if>
      <if test="isRecommend != null" >
        is_recommend = #{isRecommend},
      </if>
      <if test="booksCatsnPath != null" >
        books_catsn_path = #{booksCatsnPath},
      </if>
      <if test="booksCatsn != null" >
        books_catsn = #{booksCatsn},
      </if>
      <if test="pressSn != null" >
        press_sn = #{pressSn},
      </if>
      <if test="status != null" >
        status = #{status},
      </if>
      <if test="saleNum != null" >
        sale_num = #{saleNum},
      </if>
      <if test="saleTime != null" >
        sale_time = #{saleTime},
      </if>
      <if test="visitNum != null" >
        visit_num = #{visitNum},
      </if>
      <if test="appraiseNum != null" >
        appraise_num = #{appraiseNum},
      </if>
      <if test="booksSearchKeywords != null" >
        books_search_keywords = #{booksSearchKeywords},
      </if>
      <if test="illegalRemarks != null" >
        illegal_remarks = #{illegalRemarks},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime},
      </if>
      <if test="deteleFlag != null" >
        detele_flag = #{deteleFlag},
      </if>
      <if test="booksTips != null" >
        books_tips = #{booksTips},
      </if>
      <if test="gallery != null" >
        gallery = #{gallery},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.yashebook.domain.po.BookWithBLOBs" >
    update ys_books
    set books_sn = #{booksSn},
      product_no = #{productNo},
      books_name = #{booksName},
      books_imgs = #{booksImgs},
      market_price = #{marketPrice},
      shop_price = #{shopPrice},
      books_stock = #{booksStock},
      warn_stock = #{warnStock},
      books_util = #{booksUtil},
      is_sale = #{isSale},
      is_best = #{isBest},
      is_hot = #{isHot},
      is_new = #{isNew},
      is_recommend = #{isRecommend},
      books_catsn_path = #{booksCatsnPath},
      books_catsn = #{booksCatsn},
      press_sn = #{pressSn},
      status = #{status},
      sale_num = #{saleNum},
      sale_time = #{saleTime},
      visit_num = #{visitNum},
      appraise_num = #{appraiseNum},
      books_search_keywords = #{booksSearchKeywords},
      illegal_remarks = #{illegalRemarks},
      delete_flag = #{deleteFlag},
      create_time = #{createTime},
      modify_time = #{modifyTime},
      detele_flag = #{deteleFlag},
      books_tips = #{booksTips},
      gallery = #{gallery}
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yashebook.domain.po.Book" >
    update ys_books
    set books_sn = #{booksSn},
      product_no = #{productNo},
      books_name = #{booksName},
      books_imgs = #{booksImgs},
      market_price = #{marketPrice},
      shop_price = #{shopPrice},
      books_stock = #{booksStock},
      warn_stock = #{warnStock},
      books_util = #{booksUtil},
      is_sale = #{isSale},
      is_best = #{isBest},
      is_hot = #{isHot},
      is_new = #{isNew},
      is_recommend = #{isRecommend},
      books_catsn_path = #{booksCatsnPath},
      books_catsn = #{booksCatsn},
      press_sn = #{pressSn},
      status = #{status},
      sale_num = #{saleNum},
      sale_time = #{saleTime},
      visit_num = #{visitNum},
      appraise_num = #{appraiseNum},
      books_search_keywords = #{booksSearchKeywords},
      illegal_remarks = #{illegalRemarks},
      delete_flag = #{deleteFlag},
      create_time = #{createTime},
      modify_time = #{modifyTime},
      detele_flag = #{deteleFlag}
    where id = #{id}
  </update>
</mapper>